
/* hero */
.bg-hero-image{
    background-image: url('images/cyber-security-specialist-628x353.avif');
    background-position: center center ;

}
/* end */

body{
    background-color: rgb(58, 58, 58);
}

/* card style */
p{
    font-family: 'Lora', serif;
    font-family: 'Roboto Condensed', sans-serif;

}

h5{
    font-family: 'Lora', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
}

.card{
    background-color:rgb(228, 228, 228);
box-shadow: 10px 10px 2px;
}
