
/* hero */
.bg-hero-image{
    background-image: url('images/image\ \(5\).png');
    background-position: center center ;

}
/* end */

body{
    background-color: rgb(161, 203, 223);
}

/* card style */
p{
    font-family: 'Lora', serif;
    font-family: 'Roboto Condensed', sans-serif;

}

h5{
    font-family: 'Lora', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
}

.card{
    background-color:rgb(168, 197, 199);
box-shadow: 10px 10px 2px;
}
